<% if resource.errors.any? %>
  <div id="error_explanation">
    <h3>エラーが発生しました。以下ご確認お願いいたします。</h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <li><%= massage %></li>
      <% end %>
    </ul>
  </div>
  <% end %>